<%= form_row for: [signature, :jersey_resident], class: "jersey-resident" do %>
  <span class="form-label">
    Only Jersey residents aged 16 or over have the right to sign
  </span>
  <%= error_messages_for_field signature, :jersey_resident %>
  <div class="multiple-choice">
    <%= form.check_box :jersey_resident, tabindex: increment %>
    <%= form.label :jersey_resident, "I am a Jersey resident and aged 16 or over" %>
  </div>
<% end %>

<%= form_row for: [signature, :name] do %>
  <%= form.label :name, class: "form-label" %>
  <%= error_messages_for_field signature, :name %>
  <%= form.text_field :name, tabindex: increment, maxlength: 255, size: nil, class: "form-control"  %>
<% end %>

<%= form_row for: [signature, :email] do %>
  <%= form.label :email, "Email address", class: "form-label" %>
  <%= error_messages_for_field signature, :email %>
  <%= form.text_field :email, type: "email", tabindex: increment, class: "form-control" %>
<% end %>

<%= form_row for: [signature, :postcode] do %>
  <%= form.label :postcode, class: "form-label" %>
  <%= error_messages_for_field signature, :postcode %>
  <%= form.text_field :postcode, tabindex: increment, class: "form-control small" %>
<% end %>

<%= form_row for: [signature, :notify_by_email], class: "notify-by-email" do %>
  <div class="multiple-choice">
    <%= form.check_box :notify_by_email, tabindex: increment %>
    <%= form.label :notify_by_email, "Email me whenever there’s an update about this petition" %>
  </div>
<% end %>

<%= form.submit "Continue", name: "move:next", class: "button", tabindex: increment %>

<section class="secondary">
  <p>We won't publish your personal details anywhere or use them for anything other than this petition.</p>
</section>
