<h1 class="visuallyhidden"><%= number_with_delimiter(@signature.number) %> signatures</h1>

<div class="signature-confirmation">
  <%= render 'signature_confirmation' %>
  <p>We've added your signature to the petition:</p>
  <p><%= link_to @petition.action, petition_path(@petition) %></p>
</div>

<%= render 'share_petition', petition: @petition %>

<section class="section-panel" aria-labelledby="whats-next-heading">
  <%= render "petitions/threshold_details", petition: @petition %>
</section>

<% if @signature.parish %>
  <div class="section-panel" aria-labelledby="contact-your-mp-heading">
    <p>Your parish is <%= @signature.parish.name %></p>
  </div>
<% end %>

<h2>Register to vote</h2>
<p>To vote in elections, you must be registered to vote.</p>
<p>It takes less than 5 minutes.</p>
<a href="https://services.parish.gov.je/Election/RegisterToVote" rel="external">Register to vote</a>
