<p><small>You’re receiving this email because you created this petition: “<%= @petition.action %>”.</small></p>
<p><small>To unsubscribe from getting emails about this petition: <%= link_to nil, unsubscribe_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
<hr>

<p>Dear <%= @signature.name %>,</p>

<p>Ministers have responded to your petition – “<%= link_to @petition.action, petition_url(@petition) %>”.</p>

<p>Ministers responded:</p>

<blockquote><%= auto_link(simple_format(h(@government_response.summary))) %></blockquote>

<blockquote><%= auto_link(simple_format(h(@government_response.details))) %></blockquote>

<p>Click this link to view the response online:</p>

<p><%= link_to nil, petition_url(@petition, reveal_response: "yes") %></p>

<% if @petition.signature_count < Site.threshold_for_debate %>
<p>The Petitions team will take a look at this petition and its response. They can press the ministers for action and gather evidence. If this petition reaches <%= Site.formatted_threshold_for_debate %> signatures, the team will consider it for a debate.</p>
<% else %>
<p>This petition has over <%= Site.formatted_threshold_for_debate %> signatures. The Petitions team will consider it for a debate. They can also gather further evidence and press the ministers for action.</p>
<% end %>

<p>Find out more about the Petitions Team: <%= link_to nil, 'https://beta-statesassembly.gov.je/ABOUT/STATESGREFFE/Pages/default.aspx' %></p>

<p>Thanks,<br />
<%= t("petitions.emails.signoff_prefix") %><br />
<%= t("petitions.emails.signoff_suffix") %></p>

<hr>
<p><small>You’re receiving this email because you created this petition: “<%= @petition.action %>”.</small></p>
<p><small>To unsubscribe from getting emails about this petition: <%= link_to nil, unsubscribe_signature_url(@signature, token: @signature.unsubscribe_token) %></small></p>
